.col-form-label {
  padding-right: 0;
}

#textareaChat {
  white-space: pre-wrap;
  padding: 10px;
  min-height: 200px;
}

#textareaChat:focus {
  outline: 0px solid transparent;
}

#rangeTemperature {
  width: 50%;
}

#buttonSubmit {
  width: 200px;
}

@media screen and (max-width: 768px) {
  #rangeTemperature {
    width: 100%;
  }

  #buttonSubmit {
    width: 100%;
  }
}